body {
  background-color: #F8B259;
  box-sizing: border-box;
  margin: 0;
  color: white;
}

nav{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    background-color: orangered;
    height: 100px;
    align-items: center;
    
}
button{
    background-color: blue;
    color: white;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;

}
.home-header{
  font-weight: bold;
  font-style: italic;
}
img{
  width: 350px;
  height: auto;
}
.p{
  font-size: 50px;
  font-weight: bold;
}
.contact-p, .email{
  font-weight: bolder;
 
  font-size: 60px;
  color:white;
}
.first-input{
  padding: 15px;
}
.contact-div{
  width: 50%;
  margin: auto;
}
label{
  display: block;
  color: whitesmoke;
  font-weight: 400;
  font-size: 30px;
  margin: 8px;
}
input{
  width: 70%;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  border: none;
}
input:focus, textarea:focus{
  border: 2px solid blue;
 
}
textarea{
  outline: none;
  border: 1px solid;
  border-radius: 15px;
  width: 600px;
  height: 350px;
  padding: 16px;
  font-size: 30px;
}
.homeImage{
  width: 100%;
  
}
.btn{
  display: block;
  margin-top: 25px;
  margin-left: 18%;
  width: 610px;
  background-color: #F97A00;
  font-size: 25px;

}
.menu-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
   border: 1px solid black;
}
 .menu-header{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 16px;
  text-decoration: underline;
  text-transform: uppercase;
 }
 p, h2{
  color: black;
 }
 .card-div{
 
 }
 .first-menu-paragraph{
  font-size: 32px;
  font-weight: 400;
 }